<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="TESTING" class="uk.gov.dhsc.htbhf.logging.TestAppender"/>

    <logger name="uk.gov.dhsc.htbhf.claimant.message.MessageProcessor" level="info"/>

    <logger name="uk.gov.dhsc.htbhf.claimant.creator.ClaimantLoader" level="info" />

    <logger name="uk.gov.dhsc.htbhf.claimant.testsupport.EntityAgeAccelerator" level="debug" />

    <root level="error">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TESTING" />
    </root>
</configuration>
