.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

manifest/src

# Ignore local overrides in gradle.properties
gradle.properties

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
api/out/
db/out/
manifest/out/
claimant-creator/out
claimant-creator/src/main/resources/claimant.yml
